---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$linkColor: #428bca;
$darkBg: #202020;
$mediumBg: #808080;

$success: #5cb85c;

$navLinkColor: white;
$attentionColor: #d9534f;

body {
  background-color: $darkBg;
  padding-bottom: 30px;
}

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $darkBg;
  margin-bottom: 0;
  border-radius: 0;

  a {
    color: $navLinkColor;
  }

  li {
    text-transform: uppercase;

    .dropdown-menu {
      a:hover {
        background-color: #d0d0d0 !important;
      }
    }

    a:hover,
    a:focus,
    a.open,
    .open > a {
      background-color: lighten($darkBg, 20%) !important;
    }
  }

  li.active {
    font-weight: bold;
    border-bottom: 2px solid $navLinkColor;
  }

  .navbar-brand {
    font-size: 18pt;
  }

  .icon-bar {
    background-color: white;
  }

}

.main {
  background-color: #d0d0d0;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Slabo 27px', serif;
    text-align: center;
  }

  h1:first-of-type {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .container.primary {
    background-color: white;
    padding-bottom: 4em;
  }

  .blog-landing {
    background-size: cover;
    height: 300px;

    .container.attribution {
      text-align: right;
      margin-top: 220px;

      a {
        color: white;
      }
    }

    .navbar {
      background-color: rgba(255,255,255,0.5);
      a {
        color: black;
      }

      li.active {
        font-weight: bold;
        border-bottom: 2px solid black;
      }
    }
  }

  .main-content {

    padding-top: 1em;

    p, li {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12pt;
    }

    figcaption {
      font-style: italic;
    }
  }
}

.blog-teaser {
  margin-bottom: 2em;

  .tags {
  }

  .update {
    background-color: $attentionColor;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  .img-header {
    width: 100%;
    height: 69px;
    background-size: cover;
    display: table;

    & > div {
      display: table-row;

      &:first-child {
        width: 100%;
        display: table-cell;
      }

      .date {
        background-color: $success;
        color: white;
        min-width: 69px;
        height: 69px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        font-family: 'Slabo 27px', serif;
        font-size: 18pt;
        line-height: 90%;
        padding: 8px;
      }
    }
  }
}

.blog-teaser,
.publication,
.project {
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}

.books {
  img {
    max-height: 320px;
    width: auto;
  }
}

.publication {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  margin-bottom: 2em;
}

.project {

  &.project-l {
    h2 {
      margin-top: 0;
    }
  }
}

.footer {
  padding-top: 1em;

  * {
    color: #a0a0a0;
  }

  a {
    color: white;
  }

  h4 {
    text-transform: uppercase;
    font-family: 'Slabo 27px', serif;
  }

  ul {
    padding-left: 0;
    list-style-type: square;
  }
}

.post-meta {
  text-align: center;
  font-style: italic;
}

.my-alert {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;
  padding: 1em 10%;
  margin: 1em 0;

  .glyphicon {
    font-size: 64px;
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid #bce8f1;
    color: #31708f;
    float: left;
  }

  strong {
    margin-right: 1em;
  }

  & > div {
    min-height: 64px;
  }

  &.info {
    background-color: #d9edf7;
    strong {
      color: #31708f;
    }
    .glyphicon {
      color: #31708f;
      border-color: #bce8f1;
    }
  }

  &.caution {
    background-color: #fcf8e3;
    strong {
      color: #8a6d3b;
    }
    .glyphicon {
      color: #8a6d3b;
      border-color: #faebcc;
    }
  }

  &.danger {
    background-color: #f2dede;
    strong {
      color: #a94442;
    }
    .glyphicon {
      color: #a94442;
      border-color: #ebccd1;
    }
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "syntax-highlighting"
;
