---
layout: page
title: Veröffentlichungen
permalink: /de/veroeffentlichungen.html
lang: de
translations:
  de: /de/veroeffentlichungen.html
  en: /en/publications.html
---

{% assign books = site.publications | where:"type","book" | sort:"date" %}
{% assign articles = site.publications | where:"type","article" | sort:"date" %}
{% assign talks = site.publications | where:"type","talk" | sort:"date" %}

<div class="row">
  <h2>Bücher</h2>
</div>

<div class="books">
  {% for book in books reversed %}
  {% capture mod %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
  {% if mod == '0' or forloop.first %}
    {% unless forloop.first %}</div>{% endunless %}
    <div class="row">
  {% endif %}

  <div class="col-md-4">
    <div class="text-center">
      <img src="{{ book.image }}" class="img-thumbnail"/>
    </div>
    <p class="text-center">
      <em>
        {% case book.type %}
        {% when "book" %}{{ book.date | localize:"%B %Y" }}, {{ book.publisher }}, {{ book.publisher_location }}
        {% endcase %}
      </em>
    </p>
    <h3>{{ book.title }}</h3>
    <p>
      {{ book.excerpt }}
    </p>

    {% if book.links.amazon %}
    <a href="{{ book.links.amazon }}" class="btn btn-success" target="_blank">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Nimm mein Geld!
    </a>
    {% endif %}
  </div>
  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
</div>

<div class="row">
  <div class="col-lg-6">
    <h2>Vorträge</h2>
    {% for publication in talks reversed %}
    <div class="row publication">
      <div class="col-md-2 col-sm-3 col-xs-4">
        {% if publication.speakerdeck_id %}
        <img src="https://speakerd.s3.amazonaws.com/presentations/{{ publication.speakerdeck_id }}/slide_0.jpg" width="100%" />
        {% else if publication.image %}
        <img src="{{ publication.image }}" width="100%"/>
        {% endif %}
      </div>
      <div class="col-md-10 col-sm-9 col-xs-8">
        <h3>{{ publication.title }}</h3>
        <p>
          <em>
            gehalten am {{ publication.date | localize:"%d. %B %Y" }} auf der
            {% if publication.conference.link %}
            <a href="{{ publication.conference.link }}" target="_blank">
              {{ publication.conference.name }}
            </a>
            {% else %}
              {{ publication.conference.name }}
            {% endif %}
            in {{ publication.conference.location }}
          </em>
        </p>
        <p>
          {{ publication.excerpt }}
        </p>

        {% if publication.links.amazon %}
        <a href="{{ publication.links.amazon }}" class="btn btn-success" target="_blank">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Nimm mein Geld!
        </a>
        {% endif %}
        {% if publication.links.speakerdeck %}
        <a href="{{ publication.links.speakerdeck }}" class="btn btn-primary" target="_blank">
            <span class="glyphicon glyphicon-blackboard"></span>
            Speakerdeck
        </a>
        {% endif %}
        {% if publication.links.paper %}
        <a href="{{ publication.links.paper }}" class="btn btn-default" target="_blank">
            <span class="glyphicon glyphicon-book"></span>
            Paper herunterladen
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-lg-6">
    <h2>Artikel</h2>

    {% for publication in articles reversed %}
    <div class="row publication">
      <div class="col-md-2 col-sm-3 col-xs-4">
        <img src="{{ publication.image }}" width="100%"/>
      </div>
      <div class="col-md-10 col-sm-9 col-xs-8">
        <h3>{{ publication.title }}</h3>
        <p>
          <em>
            {% case publication.type %}
            {% when "book" %}veröffentlicht am {{ publication.date | localize:"%d. %B %Y" }} im {{ publication.publisher }}, {{ publication.publisher_location }}
            {% when "article" %}veröffentlicht am {{ publication.date | localize:"%d. %B %Y" }} im {{ publication.magazine }}, Ausgabe {{ publication.issue }}
            {% endcase %}
          </em>
        </p>
        <p>
          {{ publication.excerpt }}
        </p>

        {% if publication.links.amazon %}
        <a href="{{ publication.links.amazon }}" class="btn btn-success" target="_blank">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Nimm mein Geld!
        </a>
        {% endif %}
        {% if publication.links.article %}
        <a href="{{ publication.links.article }}" class="btn btn-default" target="_blank">
          <span class="glyphicon glyphicon-book"></span>
          Zum Artikel
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
