---
layout: page
title: Veröffentlichungen
permalink: /de/veroeffentlichungen.html
lang: de
translations:
  de: /de/veroeffentlichungen.html
  en: /en/publications.html
---

{% assign books = site.publications | where:"type","book" | sort:"date" %}
{% assign articles_talks = site.publications | where_exp:"item","item.type != 'book'" | sort:"date" %}
{% assign articles = site.publications | where:"type","article" | sort:"date" %}
{% assign talks = site.publications | where:"type","talk" | sort:"date" %}

<h2>Bücher und Videokurse</h2>

<div class="books">
  {% for book in books reversed %}
  {% capture mod %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
  {% if mod == '0' or forloop.first %}
    {% unless forloop.first %}</div>{% endunless %}
    <div class="row equal-height">
  {% endif %}

  <div class="col-lg-4 mt-4">
    <div class="card">
      <div class="view overlay" style="background-image: url({{ book.image }})">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class=mask rgba-white-slight></div>
        </a>
      </div>
      {% if book.links.amazon %}
      <a href="{{ book.links.amazon }}" target="_blank" class="btn-floating btn-action ml-auto mr-4 success-color-dark lighten-3"><i class="fa fa-shopping-cart"></i></a>
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ book.title }}</h4>
        <div class="font-italic grey-text">{{ book.date | localize:"%B %Y" }}, {{ book.publisher }}, {{ book.publisher_location }}</div>
        <hr>
        <p class="card-text">{{ book.excerpt | remove: '<p>' | remove: '</p>' }}</p>

      </div>

      {% if book.links.amazon %}
      <a href="{{ book.links.amazon }}" class="btn btn-success" target="_blank">
          <span class="fa fa-shopping-cart"></span>
          Nimm mein Geld!
      </a>
      {% endif %}
    </div>
  </div>

  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
</div>

<h2>Vorträge und Artikel</h2>

<div class="talks">
  {% for publication in articles_talks reversed %}
  {% capture mod %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
  {% if mod == '0' or forloop.first %}
    {% unless forloop.first %}</div>{% endunless %}
    <div class="row equal-height">
  {% endif %}

  <div class="col-lg-4 mt-4">
    <div class="card">
      {% if publication.speakerdeck_id %}
        <div class="view overlay" style="background-image: url(https://speakerd.s3.amazonaws.com/presentations/{{ publication.speakerdeck_id }}/slide_0.jpg)"></div>
      {% else %}
        <div class="view overlay" style="background-image: url({{ publication.image }})"></div>
      {% endif %}
      {% if publication.links.speakerdeck %}
      <a href="{{ publication.links.speakerdeck }}" target="_blank" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fa fa-desktop"></i></a>
      {% endif %}
      {% if publication.links.article %}
      <a href="{{ publication.links.article }}" target="_blank" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fa fa-book"></i></a>
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ publication.title }}</h4>
        <div class="font-italic grey-text">
          {% case publication.type %}
          {% when "article" %}veröffentlicht am {{ publication.date | localize:"%d. %B %Y" }} in {{ publication.magazine }}, Ausgabe {{ publication.issue }}
          {% when "talk" %}
            gehalten am {{ publication.date | localize:"%d. %B %Y" }} auf der
            {% if publication.conference.link %}
            <a href="{{ publication.conference.link }}" target="_blank">
              {{ publication.conference.name }}
            </a>
            {% else %}
              {{ publication.conference.name }}
            {% endif %}
            in {{ publication.conference.location }}
          {% endcase %}
        </div>
        <hr>
        <p class="card-text">{{ publication.excerpt | remove: '<p>' | remove: '</p>' }}</p>

      </div>

      {% if pub.links.amazon %}
      <a href="{{ book.links.amazon }}" class="btn btn-success" target="_blank">
          <span class="fa fa-shopping-cart"></span>
          Nimm mein Geld!
      </a>
      {% endif %}
    </div>
  </div>

  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
</div>
