{% assign publications_url = "/en/publications.html" %}
{% if page.lang == 'de' %}
{% assign publications_url = "/de/veroeffentlichungen.html" %}
{% endif %}
<footer class="page-footer font-small stylish-color pt-4 z-depth-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5>{{ site.t[page.lang].publications }}</h5>
        <ul>
          {% assign latest_publications = site.publications | sort:"date" | reverse %}
          {% for publication in latest_publications limit:5 %}
            <li>
              <strong><a href="{{ publications_url }}">{{ publication.title }}</a></strong>
              am {{ publication.date | localize:"%d. %B %Y" }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>
          {{ site.t[page.lang].blog_articles }}
        </h5>
        <ul>
          {% assign latest_posts = site.posts | where:"lang",page.lang | sort:"date" | reverse %}
          {% for post in latest_posts limit:5 %}
            <li>
              <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
              am {{ post.date | localize:"%d. %B %Y" }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>
          {{ site.t[page.lang].menu }}
        </h5>
        <ul>
          {% for item in site.footer_menu[page.lang] %}
            <li><a href="{{ item.url | prepend:site.baseurl }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright py-3 text-center">
    Martin Helmich 2018
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
<script type="text/javascript">
$("#martin-grumpy").mouseover(function() {
  $(this).attr("src", "/assets/martin-happy.jpg");
});
$("#martin-grumpy").mouseout(function() {
  $(this).attr("src", "/assets/martin-grumpy.jpg");
});
</script>