<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Veröffentlichungen</h4>
        <ul>
          {% for publication in site.publications limit:3 %}
            <li>
              <strong><a href="/publications/">{{ publication.title }}</a></strong>
              am {{ publication.date | localize:"%d. %B %Y" }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>
          Blog-Artikel
        </h4>
        <ul>
          {% assign latest_posts = site.posts | sort:"date" | reverse %}
          {% for post in latest_posts limit:3 %}
            <li>
              <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
              am {{ post.date | localize:"%d. %B %Y" }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>
          Menü
        </h4>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
