<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% if page.lang == 'de' %}/{% else %}/{{ page.lang }}/blog.html{% endif %}">martin-helmich.de</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for my_page in site.menu[page.lang] %}
          {% assign cls='normal' %}
          {% if page.url == my_page.url %}{% assign cls='active' %}{% endif %}
          <li class="{{ cls }}">
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
        {% endfor %}
      </ul>

      {% if page.translations %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ site.t[page.lang][page.lang] }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="{% if page.lang == 'de' %}active{% else %}normal{% endif %}">
              <a href="{{ page.translations.de }}">{{ site.t[page.lang].de }}</a>
            </li>
            <li class="{% if page.lang == 'en' %}active{% else %}normal{% endif %}">
              <a href="{{ page.translations.en }}">{{ site.t[page.lang].en }}</a>
            </li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
