---
layout: trailer
---
<div class="post-content">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta text-center font-italic">
      {{ site.t[page.lang].written_on }}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | localize:"%d. %B %Y" }}
      </time>

      {% if page.author %}
      {{ site.t[page.lang].by }} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </p>

    {% if page.lang == "de" and page.translations.en %}
      {% i18nhint Hello! %}
        This article is also <a href="{{ page.translations.en | prepend:site.baseurl }}">available in English</a>!
      {% endi18nhint %}
    {% elsif page.lang == "en" and page.translations.de %}
      {% i18nhint Hallo! %}
        Dieser Artikel steht auch <a href="{{ page.translations.de | prepend:site.baseurl }}">auf Deutsch zur Verfügung</a>!
      {% endi18nhint %}
    {% endif %}

    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<h2>{{ site.t[page.lang].comments }}</h2>

<div id="disqus_thread"  class="helmich-homepage-blogarticle"></div>
<script type="text/javascript">
var disqus_config = function () {
    this.page.url = "{{ page.url | prepend:site.url }}";
    this.page.identifier = "{{ page.disqus_id | default:page.id }}";
    this.page.title = "{{ page.title }}";
};

(function() {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    
    s.src = 'https://martinhelmichde.disqus.com/embed.js';
    
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>
Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
powered by Disqus.</a>
</noscript>
</div>